*,*:before,*:after{
    box-sizing:border-box;
    // outline: 1px green solid;
  }
  body{
    font-family: "Noto Sans TC", "Roboto", sans-serif;
    line-height: 1.5;
  }
  img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  .d-flex{
    display: flex;
  }
  .d-block{
    display: block;
  }
  