<footer>
    <div class="container-md">
        <div class="footerbar d-flex">
            <div class="footer-nav">
                <ul class="footer-nav-bar d-flex">
                    <li><a href="#">首頁</a></li>
                    <li><a href="#">系列鏡框</a></li>
                    <li><a href="#">門市據點</a></li>
                    <li><a href="#">部落格</a></li>
                    <li><a href="#">常見問題</a></li>
                </ul>
                <ul class="footer-info">
                    <li class="phone"><a href="#"><span class="material-symbols-outlined">call</span>0800-000-000</a></li>
                    <li class="mail"><a href="#"><span class="material-symbols-outlined">
                        mail
                        </span>glasses@business.com</li></a>
                </ul>                
            </div>            
                <ul class="Community d-flex">
                    <li><a href="#"><img src="../assets/images/ic-social-fb.png" alt="fb"></a></li>
                    <li><a href="#"><img src="../assets/images/ic_social_ig.png" alt="ig"></a></li>
                    <li><a href="#"><img src="../assets/images/ic_social_line.png" alt="line"></a></li>
                </ul>
            
        </div>
        <div class="copyright d-flex">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class=" copyright-nav d-flex">
                <li><a href="">隱私權政策</a></li>
                <li><a href="">服務條款</a></li>
            </ul>
        </div>
    </div>
</footer>