footer{
  background: $primary;
  color: #ffffff;
  .footerbar{
    justify-content: space-between;
    .footer-nav{
      .footer-nav-bar{
        gap: 48px;
        padding: 60px 0 36px;
        a{
          color: #ffffff;
        }
        a:hover{
          color: $complementary;
        }
      }
      .footer-info{
        li{
          font-size: $font-xl;
          span{
            font-size: $font-xl;
            margin-right: 22px;
          }
        }
      }
    }
    ul{
      gap: 32px;
      padding-top: 48px;
      img{
        width: 40px;
      }
    }
  }
  
  .copyright{
    justify-content: space-between;
    padding: 32px 0;
    margin-top: 32px;
    border-top: 1px solid #fff;
    ul{
      gap: 48px;
      a{
        color: #ffffff;
      }
      a:hover{
        color: $complementary;
      }
    }
  }

  @media (max-width:576px) {
    .copyright{
      flex-direction: column;
      padding: 16px 0;
      margin-top: 24px;
      border-top: 1px solid #fff;
      P{
        padding-bottom: 8px;
      }
      ul{
        gap: 8px;
        flex-direction: column;
        a{
          color: #ffffff;
        }
        a:hover{
          color: $complementary;
        }
      }
    }
  }
  


}

@media (max-width:576px) {
  footer{
    .footerbar{
      .footer-nav{
        .footer-nav-bar{
          display: none;
        }
        .footer-info{
          li{
            font-size: $font-default;
            span{
              font-size: $font-default;
              margin-right: 11px;
            }
          }
        }
      }
      ul{
        gap: 8px;
        padding-top: 24px;
        img{
          width: 24px;
        }
      }
    }
    
    
    
  
  
  }
}