
.section-title{
  font-size: $font-xxl;
  font-weight: 600;
  text-align: center;
}
@media (max-width:576px) {
  .section-title{
    font-size: $font-l;
  }
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}
.col-3{
  width: 25%;
  padding: 0 12px;
}
.col-4{
  width: 33%;
  padding: 0 12px;
}
@media (max-width:992px) {
  .col-md-6{
    width: 50%;
  }  
}
@media (max-width:576px) {
  .col-sm-12{
    width: 100%;
  }
  
}
.banner{
  background:url(/assets/images/home-header.png) no-repeat center;
  background-size: cover;
  .banner-inner{
    height:calc(100vh - 80px);
    color: $secondary;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    h2{
      font-size: $font-xl;
    }
    P{
      font-size: $font-xxxl;
      font-weight: 800;
    }
    a{
      font-size: $font-m;
      width: 104px;
      padding: 6px 12px;
      color: #fff;
      background: $primary;
    }
    a:hover{
      color: #FBF2F2;
    }
  }
}
@media (max-width:992px) {
  .banner{
    background:url(/assets/images/home-header-sm.png) no-repeat center;
    background-size: cover;
  }
}
@media (max-width:576px) {
  .banner{
    .banner-inner{
      height:calc(100vh - 176px);
      h2{
        font-size: 16px;
      }
      P{
        font-size: $font-l;
      }
    }
  }
}
.professional{ 
  background: $complementary;
  padding: 80px 0;
  
  h2{
    color: $secondary;    
  }
  
  ul{
    text-align: center;
    margin-top: 32px;

    li{
      img{
        width: 83px;
        margin-bottom: 24px; 
      }
      h2{
        font-size: $font-l;
        font-weight: 800;
      }
      p{
        color: #000;
        text-align: left;
      }
    }
  }
}
@media (max-width:576px) {
  .professional{
    padding: 40px 0;
    ul{
      gap: 32px 0;
    }
  }
}

.classic{
  padding: 80px 0;
  h2{
    color: $secondary;
  }
  ul{
    margin-top: 48px;
    text-align: center;
    li{
      padding: 0;
      h3{
        font-size: $font-xxl;
        font-weight: 800;
        font-style: italic;
        color: $primary;
      }
    }
  }
  
}
@media (max-width:992px) {
  .classic{
    ul{
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }
  }
}
@media (max-width:576px) {
  .classic{
    padding: 40px 0;
    ul{
      margin-top: 24px;
    }
    
  }
}

.joint-design{
  background: url(/assets/images/index-bg.png) no-repeat center;
  background-size: cover;
  padding: 80px 0;
  h2{
    color: #fff;
  }
  ul{
    text-align: center;
    margin-top: 48px;
    li{
      width: 50%;
      h3{
        font-size: $font-xxl;
        font-weight: 800;
        font-style: italic;
        color: $primary;
        background: #fff;
      }
    }
  }
}
@media (max-width:992px) {
  .joint-design{
    background: url(/assets/images/index-bg-md.png) no-repeat center;
    background-size: cover;
    ul{
      flex-wrap: wrap;
      gap: 24px;
      li{
        width: 100%;
      }
    }
  }
}
@media (max-width:576px) {
  .joint-design{
    background: url(/assets/images/index-bg-sm.png) no-repeat center;
    background-size: cover;
    padding: 40px 0;
    
    ul{
      margin-top: 24px;
      li{
        width: 100%;
      }
    }
  }
}

.recommend{
  padding: 80px 0;
  h2{
    color: $secondary;
  }
  ul{
    margin-top: 48px;
    .recommend-inner{
      li{
        border: 1px solid #DEE2E6;
        border-radius: 4px;
        box-shadow: 0px 2px 6px #00000029;
        .info{
          height: 173px;
          flex-direction: column;
          padding: 16px;
          h4{
            font-weight: 600;
          }
          .date{
            font-size: $font-s;
            color: #707070;
            margin-top: auto;
          }
        }
      }
    }
  }
}
@media (max-width:992px) {
  .recommend{
    ul{
      gap: 24px 0;
      .recommend-inner{
        width: 50%;
      }
    }
  }
}
@media (max-width:576px) {
  .recommend{
    padding: 40px 0;
    ul{
      margin-top: 24px;
      gap: 16px;
      .recommend-inner{
        width: 100%;
      }
    }
  }
}
.contact{
  padding: 80px 0;
  background: $complementary;
  .contact-inner{
    h2{
      color: $secondary;
    }
    form{
      width: 49%;
      margin: 0 auto;
      fieldset{
        flex-direction: column;
        legend{
          font-size: $font-m;
          margin-bottom: 24px;
        }
        input{
          padding: 8px;
          margin-bottom: 16px;
          background: none;
          border: solid 1px #000;
        }
        textarea{
          height: 136px;
          background: none;
          padding: 8px;

        }
      }
      .checkbox{
        margin: 16px 0 48px;
      }
      .btn{
        text-align: center;
        button{
          width: 65%;
          padding: 20px;
          color: #fff;
          background: $primary;
          border: none;
          cursor: pointer;
          margin: 0 auto;
        }
        button:hover{
          background: $secondary;
        } 

      }
    }
  }
}

@media (max-width:992px) {
  .contact{
    .contact-inner{
      form{
        width: 75%;
        .btn{
          button{
            width: 58%;
          }
        }
      }
    }
  }
}

@media (max-width:576px) {
  .contact{
    padding: 40px 0;
    .contact-inner{
      form{
        width: 100%;
        fieldset{
          legend{
            font-size: 16px;
            margin-bottom: 24px;
          }
        }
        .checkbox{
          margin: 16px 0 24px;
        }
        .btn{
          text-align: center;
          button{
            width: 100%;
            padding: 16px;
          }
  
        }
      }
    }
  }
}

