
.section-title{
  font-size: $font-xxl;
  font-weight: 600;
  text-align: center;
  @include mobile{    
    font-size: $font-l;
    }
  }


.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}
.col-3{
  width: 25%;
  padding: 0 12px;
}
.col-4{
  width: 33%;
  padding: 0 12px;
}
.col-md-6{
    @include pad{
      width: 50%;
    }
  }  
 .col-sm-12{
    @include mobile{
      width: 100%;
    }
  }
.banner{
  background:url(/assets/images/home-header.png) no-repeat center;
  background-size: cover;
  @include pad{
    background:url(/assets/images/home-header-sm.png) no-repeat center;
    background-size: cover;
  }
  &-inner{
    height:calc(100vh - 80px);
    color: $secondary;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    @include mobile{
      height:calc(100vh - 176px);
    }
    h2{
      font-size: $font-xl;
      @include mobile{
        font-size: $font-default;
      }
    }
    P{
      font-size: $font-xxxl;
      font-weight: 800;
      @include mobile{
        font-size: $font-l;
      }
    }
    a{
      font-size: $font-m;
      width: 104px;
      padding: 6px 12px;
      color: #fff;
      background: $primary;
    }
    a:hover{
      color: #FBF2F2;
    }
  }
}

.professional{ 
  background: $complementary;
  padding: 80px 0;
  @include mobile{
    padding: 40px 0;
  }
  h2{
    color: $secondary;    
  }
  
  ul{
    text-align: center;
    margin-top: 32px;
    @include mobile{
      gap: 32px 0;
    }

    li{
      img{
        width: 83px;
        margin-bottom: 24px; 
      }
      h2{
        font-size: $font-l;
        font-weight: 800;
      }
      p{
        color: #000;
        text-align: left;
      }
    }
  }
}

.classic{
  padding: 80px 0;
  @include mobile{
    padding: 40px 0;
  }
  h2{
    color: $secondary;
  }
  ul{
    margin-top: 48px;
    text-align: center;
    @include pad{
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }
    @include mobile{
      margin-top: 24px;
    }
    li{
      padding: 0;
      h3{
        font-size: $font-xxl;
        font-weight: 800;
        font-style: italic;
        color: $primary;
      }
    }
  }
  
}

.joint-design{
  background: url(/assets/images/index-bg.png) no-repeat center;
  background-size: cover;
  padding: 80px 0;
  @include pad{
    background: url(/assets/images/index-bg-md.png) no-repeat center;
    background-size: cover;
  }
  @include mobile{
    background: url(/assets/images/index-bg-sm.png) no-repeat center;
    background-size: cover;
    padding: 40px 0;
  }
  h2{
    color: #fff;
  }
  ul{
    text-align: center;
    margin-top: 48px;
    @include pad{
      flex-wrap: wrap;
      gap: 24px;
    }
    @include mobile{
      margin-top: 24px;
    }
    li{
      width: 50%;
      @include pad{
        width: 100%;
      }
      h3{
        font-size: $font-xxl;
        font-weight: 800;
        font-style: italic;
        color: $primary;
        background: #fff;
      }
    }
  }
}


.recommend{
  padding: 80px 0;
  @include mobile{
    padding: 40px 0;
  }
  h2{
    color: $secondary;
  }
  ul{
    margin-top: 48px;
    @include pad{
      gap: 24px 0;
    }
    @include mobile{
      margin-top: 24px;
      gap: 16px;
    }
    .recommend-inner{
      @include pad{
        width: 50%;
      }
      @include mobile{
        width: 100%;
      }
      li{
        border: 1px solid #DEE2E6;
        border-radius: 4px;
        box-shadow: 0px 2px 6px #00000029;
        .info{
          height: 173px;
          flex-direction: column;
          padding: 16px;
          h4{
            font-weight: 600;
          }
          .date{
            font-size: $font-s;
            color: #707070;
            margin-top: auto;
          }
        }
      }
    }
  }
}


.contact{
  padding: 80px 0;
  background: $complementary;
  @include mobile{
    padding: 40px 0;
  }
  &-inner{
    h2{
      color: $secondary;
    }
    form{
      width: 49%;
      margin: 0 auto;
      @include pad{
        width: 75%;
      }
      @include mobile{
        width: 100%;
      }
      
      fieldset{
        flex-direction: column;
        legend{
          font-size: $font-m;
          margin-bottom: 24px;
          @include mobile{
            font-size: $font-default;
          }
        }
        input{
          padding: 8px;
          margin-bottom: 16px;
          background: none;
          border: solid 1px #000;
        }
        textarea{
          height: 136px;
          background: none;
          padding: 8px;

        }
      }
      .checkbox{
        margin: 16px 0 48px;
        @include mobile{
          margin-bottom: 24px;
        }
      }
      .btn{
        text-align: center;
        button{
          width: 65%;
          padding: 20px;
          color: #fff;
          background: $primary;
          border: none;
          cursor: pointer;
          margin: 0 auto;
          @include pad{
            width: 58%;
          }
          @include mobile{
            width: 100%;
            padding: 16px;
          }
        }
        button:hover{
          background: $secondary;
        } 
      }
    }
  }
}